{% extends 'base.html' %}

{% block body %}
<span style="display:block; text-align:center">
<h1>{{ the_title }}</h1>

<form method='POST' action='/search4'>
<table>
<span style="display:block; text-align:center center ">
<tr><td>输入你的id: </td><td><input type="text" name="my_id" style="background:#46A3FF;color:#F9F900 "/></td></tr>
<tr><td>输入你的密钥: </td><td><input type="password" name="my_password" style="background:#46A3FF;color:#F9F900 "/></td></tr>
<tr><td>输入你的要查的内容：</td><td><input type="text" " name='words' style="background:#46A3FF;color:#F9F900 "/></td></tr>

</table>
<p>输入所需后,点击翻译：</p>
<p><input value='翻译吧' type='SUBMIT'style="background:#46A3FF"></p>

</form>
<body>
{% endblock %}

