{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/pick_city'>
<table>
<th colspan="2">使用此窗体提交搜索请求：</th>
<td>
<select name="city">
<option value="广东广州">广东广州</option>
<option value="广东花县">广东花县</option>
<option value="广东新十">广东新十</option>
<option value="广东增城">广东增城</option>
<option value="广东从化">广东从化</option>
<option value="广东龙门">广东龙门</option>
<option value="广东番禺">广东番禺</option>
<option value="广东海口">广东海口</option>
<option value="广东汕头">广东汕头</option>
<option value="广东洪江">广东洪江</option>
<option value="广东茂名">广东茂名</option>
<option value="广东佛山">广东佛山</option>
<option value="广东江门">广东江门</option>
<option value="广东深圳">广东深圳</option>
<option value="广东宝安">广东宝安</option>
<option value="广东珠海">广东珠海</option>
<option value="广东韶关">广东韶关</option>
<option value="广东曲江">广东曲江</option>
<option value="广东乐昌">广东乐昌</option>
<option value="广东仁化">广东仁化</option>
<option value="广东南雄">广东南雄</option>
<option value="广东始兴">广东始兴</option>
<option value="广东翁源">广东翁源</option>
<option value="广东佛岗">广东佛岗</option>
<option value="广东英德">广东英德</option>
<option value="广东清远">广东清远</option>
<option value="广东阳山">广东阳山</option>
<option value="广东连县">广东连县</option>
<option value="广东连山">广东连山</option>
<option value="广东连南">广东连南</option>
<option value="广东惠州">广东惠州</option>
<option value="广东惠阳">广东惠阳</option>
<option value="广东博罗">广东博罗</option>
<option value="广东河源">广东河源</option>
<option value="广东连平">广东连平</option>
<option value="广东和平">广东和平</option>
<option value="广东龙川">广东龙川</option>
<option value="广东紫金">广东紫金</option>
<option value="广东惠东">广东惠东</option>
<option value="广东东莞">广东东莞</option>
<option value="广东梅州">广东梅州</option>
<option value="广东梅县">广东梅县</option>
<option value="广东平远">广东平远</option>
<option value="广东蕉岭">广东蕉岭</option>
<option value="广东大埔">广东大埔</option>
<option value="广东丰顺">广东丰顺</option>
<option value="广东兴宁">广东兴宁</option>
<option value="广东潮州">广东潮州</option>
<option value="广东澄海">广东澄海</option>
<option value="广东潮安">广东潮安</option>
<option value="广东饶平">广东饶平</option>
<option value="广东南澳">广东南澳</option>
<option value="广东潮阳">广东潮阳</option>
<option value="广东惠来">广东惠来</option>
<option value="广东陆丰">广东陆丰</option>
<option value="广东海丰">广东海丰</option>
<option value="广东普宁">广东普宁</option>
<option value="广东揭西">广东揭西</option>
<option value="广东揭阳">广东揭阳</option>
<option value="广东南海">广东南海</option>
<option value="广东三水">广东三水</option>
<option value="广东顺德">广东顺德</option>
<option value="广东中山">广东中山</option>
<option value="广东斗门">广东斗门</option>
<option value="广东新会">广东新会</option>
<option value="广东鹤山">广东鹤山</option>
<option value="广东开平">广东开平</option>
<option value="广东台山">广东台山</option>
<option value="广东恩平">广东恩平</option>
<option value="广东高明">广东高明</option>
<option value="广东廉江">广东廉江</option>
<option value="广东化州">广东化州</option>
<option value="广东高州">广东高州</option>
<option value="广东信宜">广东信宜</option>
<option value="广东阳春">广东阳春</option>
<option value="广东阳江">广东阳江</option>
<option value="广东电白">广东电白</option>
<option value="广东吴川">广东吴川</option>
<option value="广东徐闻">广东徐闻</option>
<option value="广东海康">广东海康</option>
<option value="广东遂溪">广东遂溪</option>
<option value="广东肇庆">广东肇庆</option>
<option value="广东高要">广东高要</option>
<option value="广东怀集">广东怀集</option>
<option value="广东广宁">广东广宁</option>
<option value="广东四会">广东四会</option>
<option value="广东新兴">广东新兴</option>
<option value="广东云浮">广东云浮</option>
<option value="广东罗定">广东罗定</option>
<option value="广东郁南">广东郁南</option>
<option value="广东德庆">广东德庆</option>
<option value="广东封开">广东封开</option>
</select>
</td>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搜寻！' type='SUBMIT'></p>
</form>

{% endblock %}
