{% extends 'base.html' %}

{% block body %}
<br><br><br><br><br><br><br><br><br>
<h1 align="center" >天气查询系统</h1>
<br/>
<form method='POST' action='/content'>
<table align="center">
	<tr>
		<td><input name='city' type='TEXT' width='60' placeholder="请输入城市名字" style="width:250px;height:25px;">&nbsp;<input value='查询' type='SUBMIT' style="background: rgba(255, 255, 255, 0.7);"></td>
	</tr>
</table>

</form>


<form method='POST'action='/content'>
<table align="center">
<th colspan="2">·———————————————————·</th>
<tr><td>&nbsp;&nbsp;&nbsp;</td><td>
  <select name='city' style="width:150px;height:20px; >
  
  {% for city in the_city_list %}
    <option value="{{city}}">{{city}}</option>
  {% endfor %}

  </select>
  
  <input value='查询' type='SUBMIT' style="background: rgba(255, 255, 255, 0.7);" >
</td></tr>
</table>
</form>
{% endblock %}
