{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<body style="background-color: #FFC0CB;">
   <style type="text/css">
</style>
   <form method='POST' action='/blood4web'>
   <body>

<table>
<th colspan="2"><font face='宋体'size="9px"color="#FF1493">请主人好好填写资料，喵：</font ></th>
<tr><td>姓名：</td><td><input name='user_name' type='TEXT'></td></tr>
<tr><td>血型：</td><td><input name='blood' type='radio' value='A'>血型A<input name='blood' type='radio' value='B'>血型B<input name='blood' type='radio' value='AB'>血型AB<input name='blood' type='radio' value='O'>血型O</td></tr>
</table>
<p><font face='宋体'color="#EE3B3B">准备好了吗，主人：</font ></p>
<p><input value='喵' type='SUBMIT'></p>
</form>

{% endblock %}
