{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<body style="background-color: #FFC0CB;">
   <style type="text/css">
</style>
   <form method='POST' action='/blood4'>
   <body>

<table>
<th colspan="2"><font face='圆幼'size="9px"color="#FF1493">请主人好好填写资料，喵：</font ></th>
<tr><td>姓名：</td><td><input name='user_name' type='TEXT'></td></tr>
<tr><td>血型：</td><td><input name='blood' type='radio' value=''>A<input name='blood' type='radio' value=''>B<input name='blood' type='radio' value=''>AB<input name='blood' type='radio' value=''>O</td></tr>
</table>
<p><font face='圆幼'color="#EE3B3B">准备好了吗，主人：</font ></p>
<p><input value='喵~' type='SUBMIT'></p>
</form>

{% endblock %}
